<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>mavenfeed</id>
      <username>ganeshj0569</username>
      <password>t4m4g4xmjutnkehchk7qq2khcrueyd2ycbqh52z77jma5ncrrbfa</password>
    </server>
  </servers>
</settings>
